#navBar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  z-index: 1;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  height: 10%;
}

#navBar ul, #navBar nav, #navBar a {
  width: 100%;
  height: 10%;
  top: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navInline {
  display: inline;
  margin: 10%;
  color: white;
  text-align: center;
}

.navLink {
  color: white;
  opacity: 50%;
  line-height: 50px;
}

.clearNav {
  width: 100%;
  height: 1px;
}

.homeButton {
  display: flex;
  position: absolute;
  left: 2em;
  flex-direction: wrap;
  width: 15%;
  height: 50px;
}

.homeButton a {
  line-height: -5em;
}
.smallIcon {
  width: 40px;
  height: 40px;
}

.linkContainer {
  width: 80%;
}

img {
  position: absolute;
  top: 0;
}