#navBar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  z-index: 1;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: #031926;
  width: inherit;
  height: 60px;
}

#navBar ul, #navBar nav {
  width: 100%;
  height: 20%;
  top: 0;
  margin: 0;
  padding: 0;
}

#navBar a {
  list-style-type: none;
  text-decoration: none;
}

.navList {
  margin: 0;
  padding: 0;
}

.navInline {
  display: inline;
  margin: 10%;
  color: #FFE1A8;
  text-align: center;
}

.navLink {
  color: #FFE1A8;
  opacity: 50%;
  line-height: 50px;
}

.navLink:hover {
  box-shadow: inset 0 0 10px white;
}

.clearNav {
  width: 100%;
  height: 1px;
}

.homeButton {
  display: flex;
  position: absolute;
  left: 2em;
  flex-direction: wrap;
  width: 150px;
  height: 60px;
}

.homeButton:hover {
  box-shadow: inset 0 0 10px white;
}

.homeButton a {
  line-height: -5em;
}

.smallIcon {

  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
}

.linkDiv {
  width: 150px;
  text-align: center;
}
.linkContainer {
  width: 80%;
}

.navInline {
  height: 65px;
}